# Ignore config and metadata files
.changeset/
.pnpm-store/
.editorconfig
.github/
.vscode/
.local
docker-compose.yml
Dockerfile
node_modules/
.code-workspace

# Ignore lockfiles
pnpm-lock.yaml
yarn.lock
package-lock.json

# Ignore build artifacts (if any)
dist/
build/